/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.element {
  @include clearfix;
}
